# Commands go through bash
# shell = "bash -c '{}'"

# Remember to use this on OSX to read custom themes:
# ln -s ~/.config/flavours ~/Library/Preferences/flavours 
# due to:
# https://github.com/Misterio77/flavours/issues/80

[[items]]
file = "~/.config/kitty/flavours.conf"
template = "kitty"
# Kitty uses a separate color file, so we can safely rewrite the whole file
rewrite = true
hook = 'for SOCKET in $(ls /tmp/kitty-*); do kitty @ --to "unix:${SOCKET}" set-colors --all --configured ~/.config/kitty/flavours.conf; done'
subtemplate = "default-256"

[[items]]
# to figure out the directory of the nvim sockets, run this neovim:
# :echo v:servername
# hook = "timeout 1s bash -c 'fd -t s nvim /var/folders | xargs -n1 nvim --remote-send \":Recolor<CR>\" --server'"
hook = 'fd -t s nvim /var/folders | xargs -n1 nvim --remote-send ":Recolor<CR>" --server'
file = "~/.config/nvim/colors/flavours.lua"
template = "nvim"
rewrite = false
start= "-- Start flavours"
end = "-- End flavours"
